@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700);




#ext_menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-0 .navbar-caption {
  color: #ffffff;
  font-family: 'Droid Sans', sans-serif;
}
#ext_menu-0 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-0 .close-icon::before,
#ext_menu-0 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-0 .link,
#ext_menu-0 .dropdown-item {
  color: #ffffff;
  font-family: 'Droid Sans', sans-serif;
}
#ext_menu-0 .link {
  font-size: 1rem;
}
#ext_menu-0 .dropdown-item,
#ext_menu-0 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#ext_menu-0 .link:hover,
#ext_menu-0 .dropdown-item:hover,
#ext_menu-0 .link:focus,
#ext_menu-0 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-0 .link[aria-expanded="true"],
#ext_menu-0 .dropdown-menu {
  background: #343e57;
}
#ext_menu-0 .nav-dropdown-sm .link:focus,
#ext_menu-0 .nav-dropdown-sm .link:hover,
#ext_menu-0 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #414e6d!important;
}
#ext_menu-0 .navbar,
#ext_menu-0 .nav-dropdown-sm,
#ext_menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #475577;
}
#ext_menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-0 .bg-color.transparent.opened .link:hover,
#ext_menu-0 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-0 .link[aria-expanded="true"],
#ext_menu-0 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-0 .btn {
  font-family: 'Droid Sans', sans-serif;
  font-size: 13px;
}
#slider2-22 .mbr-section-title,
#slider2-22 .mbr-section-lead {
  color: #fff;
}
#custom-html-1 {
  
  
}
#custom-html-1 H3 {
  font-family: 'Droid Serif', serif;
  font-size: 32px;
  color: #ffffff;
}
#custom-html-1 P {
  font-family: 'Droid Sans', sans-serif;
  color: #ffffff;
}
#custom-html-1 .btn {
  font-family: 'Droid Sans', sans-serif;
  font-size: 13px;
  font-weight: bold;
}
#footer1-2 P {
  color: #ffffff;
  font-family: 'Droid Sans', sans-serif;
}



#header2-3 H3 {
  font-family: 'Droid Serif', serif;
}
#header2-3 P {
  font-family: 'Droid Sans', sans-serif;
}
#header2-3 .btn {
  font-family: 'Droid Sans', sans-serif;
  font-size: 17px;
}
#header2-3 STRONG {
  font-size: 18px;
}




#ext_menu-4 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-4 .navbar-caption {
  color: #ffffff;
  font-family: 'Droid Sans', sans-serif;
}
#ext_menu-4 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-4 .close-icon::before,
#ext_menu-4 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-4 .link,
#ext_menu-4 .dropdown-item {
  color: #ffffff;
  font-family: 'Droid Sans', sans-serif;
}
#ext_menu-4 .link {
  font-size: 1rem;
}
#ext_menu-4 .dropdown-item,
#ext_menu-4 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#ext_menu-4 .link:hover,
#ext_menu-4 .dropdown-item:hover,
#ext_menu-4 .link:focus,
#ext_menu-4 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-4 .link[aria-expanded="true"],
#ext_menu-4 .dropdown-menu {
  background: #343e57;
}
#ext_menu-4 .nav-dropdown-sm .link:focus,
#ext_menu-4 .nav-dropdown-sm .link:hover,
#ext_menu-4 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-4 .nav-dropdown-sm .dropdown-item:hover {
  background: #414e6d!important;
}
#ext_menu-4 .navbar,
#ext_menu-4 .nav-dropdown-sm,
#ext_menu-4 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-4 .nav-dropdown-sm .dropdown-menu {
  background: #475577;
}
#ext_menu-4 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-4 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-4 .bg-color.transparent.opened .link:hover,
#ext_menu-4 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-4 .link[aria-expanded="true"],
#ext_menu-4 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-4 .btn {
  font-family: 'Droid Sans', sans-serif;
  font-size: 13px;
}
#custom-html-6 {
  
  
}
#custom-html-6 .mbr-section-title,
#custom-html-6 .mbr-section-subtitle {
  text-align: center;
}
#custom-html-6 H1 {
  font-family: 'Droid Serif', serif;
  color: #ffffff;
}
#custom-html-6 H3 {
  font-family: 'Droid Serif', serif;
  color: #ffffff;
}
#custom-html-6 SMALL {
  font-family: 'Droid Sans', sans-serif;
  color: #ffffff;
}
#custom-html-6 P {
  font-family: 'Droid Sans', sans-serif;
  color: #ffffff;
}
#custom-html-6 UL {
  font-family: 'Droid Sans', sans-serif;
  color: #ffffff;
}
#custom-html-6 LI {
  font-family: 'Droid Sans', sans-serif;
  color: #ffffff;
}
#footer1-5 P {
  color: #ffffff;
  font-family: 'Droid Sans', sans-serif;
}




#ext_menu-7 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-7 .navbar-caption {
  color: #ffffff;
  font-family: 'Droid Sans', sans-serif;
}
#ext_menu-7 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-7 .close-icon::before,
#ext_menu-7 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-7 .link,
#ext_menu-7 .dropdown-item {
  color: #ffffff;
  font-family: 'Droid Sans', sans-serif;
}
#ext_menu-7 .link {
  font-size: 1rem;
}
#ext_menu-7 .dropdown-item,
#ext_menu-7 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#ext_menu-7 .link:hover,
#ext_menu-7 .dropdown-item:hover,
#ext_menu-7 .link:focus,
#ext_menu-7 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-7 .link[aria-expanded="true"],
#ext_menu-7 .dropdown-menu {
  background: #343e57;
}
#ext_menu-7 .nav-dropdown-sm .link:focus,
#ext_menu-7 .nav-dropdown-sm .link:hover,
#ext_menu-7 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-7 .nav-dropdown-sm .dropdown-item:hover {
  background: #414e6d!important;
}
#ext_menu-7 .navbar,
#ext_menu-7 .nav-dropdown-sm,
#ext_menu-7 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-7 .nav-dropdown-sm .dropdown-menu {
  background: #475577;
}
#ext_menu-7 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-7 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-7 .bg-color.transparent.opened .link:hover,
#ext_menu-7 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-7 .link[aria-expanded="true"],
#ext_menu-7 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-7 .btn {
  font-family: 'Droid Sans', sans-serif;
  font-size: 13px;
}
#msg-box5-9 {
  
  
}
#msg-box5-9 H3 {
  font-family: 'Droid Serif', serif;
  color: #ffffff;
}
#msg-box5-9 P {
  font-family: 'Droid Sans', sans-serif;
  font-size: 48px;
  color: #ffffff;
  font-weight: bold;
}
#msg-box5-9 .btn {
  font-family: 'Droid Sans', sans-serif;
  font-size: 15px;
  font-weight: bold;
}
#footer1-8 P {
  color: #ffffff;
  font-family: 'Droid Sans', sans-serif;
}






#custom-html-12 {
  
  
}
#custom-html-12 .mbr-section-title {
  font-family: 'Droid Serif', serif;
  color: #fff;
}
#custom-html-12 .mbr-section-subtitle {
  font-family: 'Droid Sans', sans-serif;
  color: #ffffff;
}
#custom-html-12 .btn {
  font-family: 'Droid Sans', sans-serif;
  font-size: 13px;
  font-weight: bold;
}
#features3-13 P {
  font-family: 'Droid Sans', sans-serif;
  color: #ffffff;
}
#features3-14 P {
  font-family: 'Droid Sans', sans-serif;
  color: #ffffff;
}
#ext_menu-10 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-10 .navbar-caption {
  color: #ffffff;
  font-family: 'Droid Sans', sans-serif;
}
#ext_menu-10 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-10 .close-icon::before,
#ext_menu-10 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-10 .link,
#ext_menu-10 .dropdown-item {
  color: #ffffff;
  font-family: 'Droid Sans', sans-serif;
}
#ext_menu-10 .link {
  font-size: 1rem;
}
#ext_menu-10 .dropdown-item,
#ext_menu-10 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#ext_menu-10 .link:hover,
#ext_menu-10 .dropdown-item:hover,
#ext_menu-10 .link:focus,
#ext_menu-10 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-10 .link[aria-expanded="true"],
#ext_menu-10 .dropdown-menu {
  background: #343e57;
}
#ext_menu-10 .nav-dropdown-sm .link:focus,
#ext_menu-10 .nav-dropdown-sm .link:hover,
#ext_menu-10 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-10 .nav-dropdown-sm .dropdown-item:hover {
  background: #414e6d!important;
}
#ext_menu-10 .navbar,
#ext_menu-10 .nav-dropdown-sm,
#ext_menu-10 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-10 .nav-dropdown-sm .dropdown-menu {
  background: #475577;
}
#ext_menu-10 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-10 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-10 .bg-color.transparent.opened .link:hover,
#ext_menu-10 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-10 .link[aria-expanded="true"],
#ext_menu-10 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-10 .btn {
  font-family: 'Droid Sans', sans-serif;
  font-size: 13px;
}
#footer1-11 P {
  color: #ffffff;
  font-family: 'Droid Sans', sans-serif;
}




#ext_menu-15 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-15 .navbar-caption {
  color: #ffffff;
  font-family: 'Droid Sans', sans-serif;
}
#ext_menu-15 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-15 .close-icon::before,
#ext_menu-15 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-15 .link,
#ext_menu-15 .dropdown-item {
  color: #ffffff;
  font-family: 'Droid Sans', sans-serif;
}
#ext_menu-15 .link {
  font-size: 1rem;
}
#ext_menu-15 .dropdown-item,
#ext_menu-15 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#ext_menu-15 .link:hover,
#ext_menu-15 .dropdown-item:hover,
#ext_menu-15 .link:focus,
#ext_menu-15 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-15 .link[aria-expanded="true"],
#ext_menu-15 .dropdown-menu {
  background: #343e57;
}
#ext_menu-15 .nav-dropdown-sm .link:focus,
#ext_menu-15 .nav-dropdown-sm .link:hover,
#ext_menu-15 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-15 .nav-dropdown-sm .dropdown-item:hover {
  background: #414e6d!important;
}
#ext_menu-15 .navbar,
#ext_menu-15 .nav-dropdown-sm,
#ext_menu-15 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-15 .nav-dropdown-sm .dropdown-menu {
  background: #475577;
}
#ext_menu-15 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-15 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-15 .bg-color.transparent.opened .link:hover,
#ext_menu-15 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-15 .link[aria-expanded="true"],
#ext_menu-15 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-15 .btn {
  font-family: 'Droid Sans', sans-serif;
  font-size: 13px;
}
#custom-html-17 {
  
  
}
#custom-html-17 .mbr-section-title,
#custom-html-17 .mbr-section-subtitle {
  text-align: center;
}
#custom-html-17 H1 {
  font-family: 'Droid Serif', serif;
  font-size: 30px;
  color: #ffffff;
}
#custom-html-17 H2 {
  font-family: 'Droid Serif', serif;
  font-size: 28px;
  color: #ffffff;
}
#custom-html-17 H3 {
  font-family: 'Droid Serif', serif;
  font-size: 20px;
  color: #ffffff;
}
#custom-html-17 SMALL {
  font-family: 'Droid Sans', sans-serif;
  color: #ffffff;
}
#custom-html-17 P {
  font-family: 'Droid Sans', sans-serif;
  color: #ffffff;
}
#custom-html-17 UL {
  font-family: 'Droid Sans', sans-serif;
  color: #ffffff;
}
#custom-html-17 LI {
  font-family: 'Droid Sans', sans-serif;
  color: #ffffff;
}
#custom-html-17 .btn {
  font-family: 'Droid Sans', sans-serif;
  font-size: 13px;
  font-weight: bold;
}
#footer1-16 P {
  color: #ffffff;
  font-family: 'Droid Sans', sans-serif;
}







#ext_menu-18 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-18 .navbar-caption {
  color: #ffffff;
  font-family: 'Droid Sans', sans-serif;
}
#ext_menu-18 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-18 .close-icon::before,
#ext_menu-18 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-18 .link,
#ext_menu-18 .dropdown-item {
  color: #ffffff;
  font-family: 'Droid Sans', sans-serif;
}
#ext_menu-18 .link {
  font-size: 1rem;
}
#ext_menu-18 .dropdown-item,
#ext_menu-18 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#ext_menu-18 .link:hover,
#ext_menu-18 .dropdown-item:hover,
#ext_menu-18 .link:focus,
#ext_menu-18 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-18 .link[aria-expanded="true"],
#ext_menu-18 .dropdown-menu {
  background: #343e57;
}
#ext_menu-18 .nav-dropdown-sm .link:focus,
#ext_menu-18 .nav-dropdown-sm .link:hover,
#ext_menu-18 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-18 .nav-dropdown-sm .dropdown-item:hover {
  background: #414e6d!important;
}
#ext_menu-18 .navbar,
#ext_menu-18 .nav-dropdown-sm,
#ext_menu-18 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-18 .nav-dropdown-sm .dropdown-menu {
  background: #475577;
}
#ext_menu-18 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-18 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-18 .bg-color.transparent.opened .link:hover,
#ext_menu-18 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-18 .link[aria-expanded="true"],
#ext_menu-18 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-18 .btn {
  font-family: 'Droid Sans', sans-serif;
  font-size: 13px;
}
#msg-box2-20 .mbr-section-title {
  color: #fff;
  font-family: 'Droid Serif', serif;
  text-align: center;
}
#msg-box2-20 .mbr-section-subtitle {
  color: #ffffff;
  text-align: center;
  font-family: 'Droid Sans', sans-serif;
}
#msg-box2-20 .btn {
  font-family: 'Droid Sans', sans-serif;
  font-size: 13px;
}
#footer1-19 P {
  color: #ffffff;
  font-family: 'Droid Sans', sans-serif;
}
